.topic0 {
	background-color: #5b9bd5;
}
.topic1 {
	background-color: #ed7d31;
}
.topic2 {
	background-color: #a5a5a5;
}
.topic3 {
	background-color: #ffc000;
}
.topic4 {
	background-color: #4472c4;
}
.topic5 {
	background-color: #70AD47;
}
.topic6 {
	background-color: #255e91;
}
.topic7 {
	background-color: #9E480E;
}
.topic8 {
	background-color: #636363;
}
.topic9 {
	background-color: #997300;
}
.topic10 {
	background-color: #43682b;
}
